<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- Adding meta elements-->
    <meta charset="UTF-8">
    <meta name="description" content="Charter">
    <meta name="author" content="Allison Sobol">
    <meta name="viewport"
    content="width=device-width,
    initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <header class="nav-bar">
        <div class="menu-item">
            <a href="customers.html">Customers</a>
        </div>
        <div class="menu-item">
            <a href="charters.html">Charters</a>
        </div>
        <div class = "menu-item">
            <a href="pilots.html">Pilots</a>
        </div>
        <div class="menu-item">
            <a href="aircrafts.html">Aircrafts</a>
        </div>
    </header>
    <h1>This home page is going to have daily announcements and important dates to remember etc.</h1>

        <!-- Calendar container -->
        <div class="container" id="calendar">
          <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%239E69AF&ctz=America%2FLos_Angeles&showCalendars=1&showTabs=1&showPrint=1&showNav=1&showTitle=0&mode=WEEK&src=ZTAyNDJjOTJlMTcxNTJiYmUwNWI4NTIyNTFkODJkMmU1MGY4N2YxOWY0ZDA1MjAwMDBlOTMyNmJkYzAwZjcxZEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%237CB342&color=%230B8043" style="border:solid 1px #777" width="1000" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
  
      <!-- Want to put sticky notes to the side?/ more info or have it take up more of the screen with
      sticky notes to the left or right -->
      <div class="container">
          <h2 id="stickynotes">This will have sticky notes</h2>
      </div>

    <script src="charter_flight\src\routes\home.py"></script>
  </body>
</html>