/* Background color*/

/* Nav bar style */
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
}
.menu-item {
    float: left;
}

.menu-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu-item a:hover {
    background-color: #1434A4;
}
.active {
    background-color: gray;
}

/* Style for containers */
body{
    background:#eee;
}

.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.card {
    position: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem 1.5rem;
}

/* Calendar.html */

/* Calendar Styling */
#calendar {
    float: left;
    padding: 50px;
}

/* Sticky notes */
#stickynotes {
    padding: 20px;
    float: right;
    
}