<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width,
    initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.
    jsdelivr.net/npm/fullcalendar@6.0.3/index.global.min.css">
    <script src="https://cdn.jsdelivr.net/npm/
    fullcalendar@6.0.3/index.global.min.js">
    </script>
</head>
<body>
    <header class="nav-bar">
        <div class="menu-item">
            <a href="index.html">Home</a>
        </div>
        <div class="menu-item">
            <a href="calendar.html">Calendar</a>
        </div>
        <div class="menu-item">
            <a href="customers.html">Customers</a>
        </div>
        <div class="menu-item">
            <a href="charters.html">Charters</a>
        </div>
        <div class = "menu-item">
            <a href="pilots.html">Pilots</a>
        </div>
        <div class="menu-item">
            <a href="aircrafts.html">Aircrafts</a>
        </div>
    </header>
    <!-- Calendar container -->
    <div id="calendar"></div>
    <script>
        // get the element
        let calendarEl = document.getElementById
        ('calendar');

        // create the calendar object
        let calendar = new FullCalendar.Calendar
        (calendarEl, {});

        // render the calendar
        calendar.render();
    </script>
</body>
</html>