<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="widtch=device-widtch,
    initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.
    jsdelivr.net/npm/fullcalendar@6.0.3/index.global.min.css">
    <script src="https://cdn.jsdelivr.net/npm/
    fullcalendar@6.0.3/index.global.min.js">
    </script>
</head>
<body>
    <header class="">
        <div class="menu-item">
            <a href="/calendar">Calendar</a>
        </div>
        <div class="menu-item">
            <a href="/customers">Customers</a>
        </div>
        <div class="menu-item">
            <a href="/charters">Charters</a>
        </div>
        <div class = "menu-item">
            <a href="/pilots">Pilots</a>
        </div>
        <div class="">
            <a href="/aircrafts">Aircrafts</a>
        </div>
    </header>
    <!-- Calendar container -->
    <div id="calendar"></div>
    <script>
        // get the element
        let calendarEl = document.getElementById
        ('calendar');

        // create the calendar object
        let calendar = new FullCalendar.Calendar
        (calendarEl, {});

        // render the calendar
        calendar.render();
    </script>
</body>
</html>