<!DOCTYPE html>
<html lang="en-US">
    <head>
        <!-- Adding meta elements-->
        <meta charset="UTF-8">
        <meta name="description" content="Charter">
        <meta name="author" content="Allison Sobol">
        <meta name="viewport"
        content="width=device-width,
        initial-scale=1.0">
        <title>Pilots Page</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
<body>
    <header class="">
        <div class="menu-item">
            <a href="/calendar">Calendar</a>
        </div>
        <div class="menu-item">
            <a href="/customers">Customers</a>
        </div>
        <div class="menu-item">
            <a href="/charters">Charters</a>
        </div>
        <div class = "menu-item">
            <a href="/pilots">Pilots</a>
        </div>
        <div class="">
            <a href="/aircrafts">Aircrafts</a>
        </div>
    </header>
</body>
</html>