<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- Adding meta elements-->
    <meta charset="UTF-8">
    <meta name="description" content="Charter">
    <meta name="author" content="Allison Sobol">
    <meta name="viewport"
    content="width=device-width,
    initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
<body>
    <header class="nav-bar">
        <div class="menu-item">
            <a href="index.html">Home</a>
        </div>
        <div class="menu-item">
            <a href="calendar.html">Calendar</a>
        </div>
        <div class="menu-item">
            <a href="customers.html">Customers</a>
        </div>
        <div class="menu-item">
            <a href="charters.html">Charters</a>
        </div>
        <div class = "menu-item">
            <a href="pilots.html">Pilots</a>
        </div>
        <div class="menu-item">
            <a href="aircrafts.html">Aircrafts</a>
        </div>
    </header>
</body>
</html>