/* Background color*/

/* Nav bar style */
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
}
.menu-item {
    float: left;
}

.menu-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu-item a:hover {
    background-color: #1434A4;
    color: white;
}
.active {
    background-color: gray;
}

/* Calendar Styling */
#calendar {
    float: left;
    padding: 50px;
}

/* Sticky notes */
#stickynotes {
    padding: 20px;
    float: right;
    
}

/* Collapsable Forms */
.collapsableForm{
    margin-top: 10px;
}

/* Table Styling */
.table {
    margin-top: 25px;
}
